name: CI/CD MLflow Project

on:
  push:
    branches:
      - main
    paths:
      - "MLProject/**"
      - ".github/workflows/**"
  workflow_dispatch:

permissions:
  contents: write

env:
  PYTHON_VERSION: "3.12.7"
  EXPERIMENT_NAME: "Credit_Scoring_CI"
  DOCKER_IMAGE_NAME: "credit-scoring-model"

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Check Env
        run: |
          python --version
          pip --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 scikit-learn pandas numpy matplotlib seaborn boto3

      - name: Run mlflow project
        run: |
          cd MLProject
          mlflow run . \
            --experiment-name ${{ env.EXPERIMENT_NAME }} \
            -P data_path=Credit_Score_Classification_Dataset_preprocessing.csv \
            -P target_col="Credit Score" \
            --env-manager=local

      - name: Get latest MLflow run id
        id: get_run_id
        run: |
          cd MLProject
          RUN_ID=$(python -c "
          import mlflow
          mlflow.set_tracking_uri('file:../mlruns')
          exp = mlflow.get_experiment_by_name('${{ env.EXPERIMENT_NAME }}')
          if exp:
              runs = mlflow.search_runs(experiment_ids=[exp.experiment_id], order_by=['start_time DESC'], max_results=1)
              if not runs.empty:
                  print(runs.iloc[0]['run_id'])
              else:
                  print('no-run-found')
          else:
              print('no-experiment-found')
          ")
          echo "RUN_ID=$RUN_ID" >> $GITHUB_OUTPUT
          echo "Latest run ID: $RUN_ID"
